# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout

#CocoaPods
Pods

*.obj
*.log
*.tlog
*.pch
pri.*
priconfig.*
qualifiers.*
resources.resfiles
layout.resfiles.*
layout.resfiles
resources.resfiles.intermediate
*.pdb
*.idb
*.suo
*.sdf
MultipleQualifiersPerDimensionFound.txt
*.ipch
.git.bak
